<h1>User#index</h1>

<%- @rovers.each do |rover|%>
<div class="card m-6">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= rover.name%></p>
        <p class="subtitle is-6"><%= rover.org%></p>
        <p class="subtitle is-6"><%= rover.y_axis%>, <%= rover.x_axis%>, <%= rover.direction%></p>
      </div>
    </div>

    <div class="content">
    <%= link_to 'show', rover_path(rover.id) %>
    </div>
  </div>
</div>
<% end %>
